{% extends 'base_layout.html' %}

<!-- Block Content for head -->
{% block head_content %}
<meta name="description" content="Article Evaluation Page"> {% endblock %}

<!-- Block Content for body -->
{% block content %}
<main>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/topics">Topics Overview</a></li>
                <li class="breadcrumb-item"><a href="/{{ topic_id }}">Topic: {{ topic_id }}</a></li>
                <li class="breadcrumb-item"><a href="/{{ topic_id }}/{{ ref_pmid }}">Relevance Article</a></li>
                <li class="breadcrumb-item active" aria-current="page">Current Article</li>
            </ol>
        </nav>
    </div>
    <div class="container">
        <div class="well well-lg" style="background: #f6f6f6; border-radius:0.5em; padding: .5em; box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);">
            <h3 align="center"><b>Topic:</b> {{ topic }} </h3>
        </div>
    </div>
    <div class="container">
        <div class="row my-4 justify-content-start">
            <div class="col-12" style="border-style: solid; border-color: #ee7f00; border-width: 2px; border-radius:0.5em; padding: .8em; margin-top: 1em; margin-bottom: auto; box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);">
                <h1>Reference Article</h1>
                <h3 align="justify"><b>Title:</b> {{ TREC_corpus.at[ref_pmid, 'title'] }}</h3>
                <p style="margin-top: 15px;" align="justify"><b>Abstract:</b> {{ TREC_corpus.at[ref_pmid, 'abstract'] }}</p>
            </div>
        </div>
        <div class="row my-4 justify-content-start">
            <div class="col-8" style="border-style: solid; border-color: #ee7f00; border-width: 2px; border-radius:0.5em; padding: .8em; margin-top: 1em; box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);">
                <h1>Assessment Article</h1>
                <h3 align="justify"><b>Title:</b> {{ title }}</h3>
                <p style="margin-top: 15px;" align="justify"><b>Abstract:</b> {{ abstract }}</p>
            </div>
            <div class="col-3 mx-auto my-auto" id=form style="border-style:dashed; border-color: #ee7f00; border-width: 2px; border-radius:0.5em; margin-bottom: auto; padding: .8em; box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);">
                <p align="center"><em><strong>How relevant is this article to the topic?</strong></em></p>
                <form method="post" action="">
                    <div class="list-group" role="group" aria-label="Basic radio toggle checkbox group">
                        <label class="form-check-label list-group-item" for="checkradio2">
                                            {%if eval_score == 2%}
                                            <input type="radio" class="form-check-input me-1" name="evaluation" value=2 id="checkradio2" autocomplete="off" checked>
                                            {%else%}
                                            <input type="radio" class="form-check-input me-1" name="evaluation" value=2 id="checkradio2" autocomplete="off">
                                            {%endif%}
                                            Relevant
                                        </label>
                        <label class="form-check-label list-group-item" for="checkradio1">
                                            {%if eval_score == 1%}
                                            <input type="radio" class="form-check-input me-1" name="evaluation" value=1 id="checkradio2" autocomplete="off" checked>
                                            {%else%}
                                            <input type="radio" class="form-check-input me-1" name="evaluation" value=1 id="checkradio1" autocomplete="off">
                                            {%endif%}
                                            Partially Relevant
                                        </label>
                        <label class="form-check-label list-group-item" for="checkradio0">
                                            {%if eval_score == 0%}
                                            <input type="radio" class="form-check-input me-1" name="evaluation" value=0 id="checkradio2" autocomplete="off" checked>
                                            {%else%}
                                            <input type="radio" class="form-check-input me-1" name="evaluation" value=0 id="checkradio0" autocomplete="off">
                                            {%endif%}
                                            Not Relevant
                                        </label>
                    </div>
                    <div class="container" style="margin-top:1em;">
                        <div class="text-center">
                            <button type="submit" name="submit-button" value="submitted" class="btn btn-primary" style="box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <nav aria-label="page navigation">
                    <ul class="pagination">
                        {%if index_previous >= 0%}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('views.assessment_article', topic_id=topic_id, ref_pmid =ref_pmid, pmid= article_list[index_previous]) }}">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {%else%}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('views.topic', topic_id=topic_id, ref_pmid =ref_pmid) }}">
                                <span aria-hidden="true">Back</span>
                            </a>
                        </li>
                        {%endif%}
                    </ul>
                </nav>
            </div>
            <div class="col-10 m-0 p-0 my-2 progress">
                {%if index_next
                < n_articles%} <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ percent_complete }}%" " aria-valuenow="{{ percent_complete }} " aria-valuemin="0 " aria-valuemax="100 ">
						{{ index_next }}/{{ n_articles }}
					</div>
					{%else%}
					<div class="progress-bar bg-success " role="progressbar " style="width: {{ percent_complete }}% "" aria-valuenow="{{ percent_complete }}" aria-valuemin="0" aria-valuemax="100">
                    {{ index_next }}/{{ n_articles }}
            </div>
            {%endif%}
        </div>
        <div class="col-1">
            <nav aria-label="page navigation">
                <ul class="pagination">
                    {%if index_next
                    < n_articles%} <li class="page-item">
                        <a class="page-link" href="{{ url_for('views.assessment_article', topic_id=topic_id, ref_pmid =ref_pmid, pmid= article_list[index_next]) }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        </li>
                        {%else%}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('views.topic', topic_id=topic_id, ref_pmid =ref_pmid) }}">
                                <span aria-hidden="true">Overview</span>
                            </a>
                        </li>
                        {%endif%}
                </ul>
            </nav>
        </div>
    </div>
    </div>

    </div>
</main>
{% endblock %}