<!doctype html>
<html lang="de">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Topic Page">
    <meta name="author" content="Tim Fellerhoff and Bootstrap contributors">
	
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<!-- Basic ZBMed CSS-->
	<link href="{{ url_for('static', filename='/css/basic.css') }}" rel="stylesheet">
    <title>ZB Med Assesment of PMID articles</title>
  </head>
  <body>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<div class="container">
		<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
			<a href= "/"><img class="bi me-2" height="110" src="{{ url_for('static', filename='/media/ZBMED17_e_cymk_cl_www.png') }}"></img></a>
			<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
			  <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
			  <li><a href="/topics" class="nav-link px-2 link-dark">Topics</a></li>
			</ul>
	  
			<div class="col-md-3 text-end">
				<a href="/login" role="button" class="btn btn-outline-primary">Login</a>
				<button type="button" class="btn btn-primary">Sign-up</button>
			</div>
		  </header>
	</div>
	
	
	<main>
		<div class="container">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/topics">Topics Overview</a></li>
				<li class="breadcrumb-item active" aria-current="page">Current Topic: {{ topic_id }}</li>
				</ol>
			</nav>
		</div>
		<div class="container">
			<div class="well well-lg" style="background: #f6f6f6; border-radius:0.5em; padding: .5em; box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);">
				<h3 align="center"><b>Topic:</b> {{ topic }} </h3>
			</div>
		</div>
		<div class="container" style="margin-top:1.5em; padding: .5em;">
			<div class="row">
				<div class="col-11" style="border-style:solid; border-color: #ee7f00; border-radius:0.5em; margin:auto; padding: .8em; box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);">
						<p align="center"><em><strong>List of {{ article_list | length }} reference articles for Topic ID:{{ topic_id }}</strong></em></p>
						<table class="table">
							<thead class="thead-dark">
								<tr>
									<th scope="col">PMID</th>
									<th scope="col">Title</th>
								</tr>
							</thead>
							{%for article in article_list%}
							<tr>
                            	<td colspan="2"><a href="/{{ topic_id }}/{{ article }}" class="list-group-item list-group-item-action list-group-item-warning">{{ article }} &#9;&#9;&#9; {{ TREC_corpus.at[article, 'title'] }}</a></td>
							</tr>
							{%endfor%}
                        </table>
				</div>
		</div>
	</main>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  </body>
</html>