{% extends 'base_layout.html' %}

<!-- Block Content for head -->
{% block head_content %}
<meta name="description" content="Topic Overview Page"> {% endblock %}

<!-- Block Content for body -->
{% block content %}
<main>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Topics Overview</li>
            </ol>
        </nav>
    </div>
    <div class="container" style="margin-top:1.5em; padding: .5em;">
        <div class="row">
            <div class="col-12" id=form style="border-style:solid; border-color: #ee7f00; border-width: 2px; border-radius:0.5em; margin:auto; padding: .8em; box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Topic-ID</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    {%for topic_id in topicsList%} {%if topic_id|int in completed_topics%}
                    <tr>
                        <td colspan="2"><a href="/{{ topic_id }}" class="list-group-item list-group-item-action list-group-item-success">{{ topic_id }} {{ topics.at[topic_id, 'desc'] }}</a></td>
                    </tr>
                    {%else%}
                    <tr>
                        <td colspan="2"><a href="/{{ topic_id }}" class="list-group-item list-group-item-action list-group-item-warning">{{ topic_id }} {{ topics.at[topic_id, 'desc'] }}</a></td>
                    </tr>
                    {%endif%} {%endfor%}
            </div>
        </div>
</main>
{% endblock %}